[Desktop Entry]
Name=Quake II RTXPerimental
GenericName=Q2RTXPerimental Client
Exec=q2rtxp
Icon=q2rtxp
Terminal=false
Type=Application
Categories=Game;ActionGame;
