.config*
.q2pro/
.q2proded/
.baseq2/
q2rtxp.exe
q2rtxpded.exe
clgame*.so
svgame*.so
*.swp
build*/
shader_vkpt
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
.vs
*.dll
*.so
*.log
music/
*.sublime-*

*.bin
*.bsp
*.cin
*.dds
*.dm2
*.jpg
*.md2
*.md3
*.iqm
*.pak
*.pcx
*.pkz
*.png
*.sp2
*.tga
*.tmp
*.wal
*.wav

*.texinfo.json
*-compile.map
*.prt

q2config.cfg
save
*/docs
baseq2/**/*.txt
!baseq2/*.txt
!baseq2/maps/sky/*.txt
!baseq2/pics/flashlight_profile.png
baseq2rtxp/**/*.txt
!baseq2rtxp/*.txt
!baseq2rtxp/maps/sky/*.txt
!baseq2rtxp/pics/flashlight_profile.png
/baseq2/maps
/baseq2/materials
/baseq2/textures/
/baseq2/.conhistory
/CMakeSettings.json
baseq2rtxp/maps/mapsrc/autosave/*

baseq2rtxp/maps/mapsrc/*.-compile.map
baseq2rtxp/maps/mapsrc/*.prt
baseq2rtxp/maps/*.-compile.map
baseq2rtxp/maps/*.prt
baseq2rtxp/maps/*.bsp
!/baseq2q2rtxp/maps/sky/*.txt
!/baseq2q2rtxp/maps/scripts/*.lua
/baseq2rtxp/materials
/baseq2rtxp/textures/
/baseq2rtxp/.conhistory
/baseq2rtxp/demos/.democache

/src/windows/res/RCa12572
/src/windows/res/RCb12572
/src/windows/res/RCc12572
/src/unix/res/q2pro.xbm~
/local_entities_test.bat

/baseq2rtxp/maps/mapsrc/q2rtxp_dev_sigio_targetrange-compile.map
/baseq2rtxp/maps/mapsrc/q2rtxp_dev_sigio_targetrange.prt

!/trenchbroom/games/Q2RTXP/*