.config*
.q2pro/
.q2proded/
.baseq2/
q2rtxp.exe
q2rtxpded.exe
clgame*.so
svgame*.so
clgame*.dll
svgame*.dll
*.swp
build*/
shader_vkpt
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
.vs
*.dll
*.so
*.log
music/
*.sublime-*

*.bin
*.bsp
*.cin
*.dds
*.dm2
*.jpg
*.md2
*.md3
*.iqm
*.pak
*.pcx
*.pkz
*.png
*.sp2
*.tga
*.tga~
*.kra~
*.png~
*.map~
*.nav
*.tmp
*.wal
*.wav
*.ssv
*.sav
*.sv2

*.texinfo.json
*-compile.map
*.prt

Q2RTXPerimental
Q2RTXPerimental_ded

/CMakeFiles
q2config.cfg
/save
*/docs
baseq2/**/*.txt
!baseq2/*.txt
!baseq2/maps/sky/*.txt
!baseq2/pics/flashlight_profile.png
baseq2rtxp/**/*.txt
!baseq2rtxp/*.txt
!baseq2rtxp/maps/sky/*.txt
!baseq2rtxp/pics/flashlight_profile.png
/baseq2/maps
/baseq2/materials
/baseq2/textures/
/baseq2/.conhistory
/CMakeSettings.json
baseq2rtxp/maps/mapsrc/autosave/*

baseq2rtxp/maps/mapsrc/*.-compile.map
baseq2rtxp/maps/mapsrc/*.prt
baseq2rtxp/maps/*.-compile.map
baseq2rtxp/maps/*.prt
baseq2rtxp/maps/*.bsp
!/baseq2q2rtxp/maps/sky/*.txt
!/baseq2q2rtxp/maps/scripts/*.lua
/baseq2rtxp/textures/

/baseq2rtxp/.conhistory
/baseq2rtxp/demos/.democache

/src/windows/res/RCa12572
/src/windows/res/RCb12572
/src/windows/res/RCc12572
/src/unix/res/q2pro.xbm~
/local_entities_test.bat

/baseq2rtxp/maps/mapsrc/*-compile.map
/baseq2rtxp/maps/mapsrc/*.prt

!*.skc
!/baseq2rtxp/_tb_icons/
!/baseq2rtxp/_tb_icons/unused/
!/trenchbroom/
!/trenchbroom/**
!/baseq2rtxp/materials/
!/baseq2rtxp/textures/
/baseq2rtxp.zip
/maps/nav/*
/maps/srcmaps/autosave
/r_tonTouch Trigger touched by entity 14.
/.vscode
/baseq2rtxp/maps/nav/**
/baseq2rtxp/maps/nav/q2rtxp_dev_voxelpaths.nav
*content.json
/markdowns/execution
/markdowns/execution/navmesh_v1_to_v2_refactor.md
/markdowns/navmeshplan
/markdowns/navmeshplan/navmesh_subsystem_creation_tasklist.md
/markdowns/navmesh_v1_to_v2_refactor2.md
/markdowns/navmesh_v1_to_v2_refactor3.md
/markdowns/plans
/markdowns/plans/navmesh_refactor_01.md
/markdowns/plans/navmesh_refactor_02.md
/markdowns/plans/navmesh_refactor_03.md
/markdowns/plans/navmesh_refactor_04_distancefields.md
/markdowns/plans/navmesh_refactor_merged_master_plan_Version2.md
/markdowns/plans/navmesh_refactor_merged_master_plan_Version7.md
/markdowns/plans/navmesh_v1_to_v2_refactor_Version3.md
/markdowns/sat_mar_21_2026_adding_patch_support_to_q_2_q_bism.md
